.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
}
.background-lines {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
  .line {
    position: absolute;
    width: 2px;
    height: 100vh;
    background: rgba(255, 255, 255, 0.1);
    top: 0;
    animation: fall linear infinite;
  }
@starting-style {
    @keyframes fall {
        0% {
            transform: translateY(-100vh);
            opacity: 0.2;
        }
        100% {
            transform: translateY(100vh);
            opacity: 0;
        }
    }
}