.button {
  font-family: 'Poppins', sans-serif;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-4) var(--space-8);
  border-radius: var(--radius-full);
  font-weight: 600;
  text-decoration: none;
  transition: transform 0.2s, background-color 0.2s;
  
  &:hover {
    transform: translateY(-2px);
  }
}

.button--primary {
  background-color: var(--color-primary);
  color:#333333;
  
  &:hover {
    background-color: var(--color-primary-light);
  }
}

.button--secondary {
  background-color: #333333;
  color: var(--color-text);
  border: 2px solid var(--color-yellow);
  
  &:hover {
    border-color: var(--color-primary);
    color: var(--color-primary);
  }
}

